<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus inventore aspernatur laudantium? Incidunt eveniet, vel cumque quam amet quod praesentium dicta laudantium nisi atque ad debitis dolor? Eaque earum consequuntur aliquam laudantium id, aperiam sapiente?</p>
    </div>
</div>