<div class="card">

    <div class="card-body">
        <h1>Inicio</h1>
        <!-- Objetivo -->
        <h2>Objetivo de la página</h2>
        <p>En esta practica se busca ilustrar el funcionamiento de la aplicación de seguridad de IoT, propuesta por el
            equipo #4.</p>

        <!-- Integrantes del equipo -->
        <h2>Desarrolladores</h2>
        <p>A continuación se muestran los intengrantes del equipo #4:</p>

        <!-- Carta de integrantes del equipo -->
        <div class="card">
            <div class="card-header">Integrantes del equipo</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p><strong>Alberto Félix Rosas</strong>, programador principal.</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong>Rodolfo Ruíz Jatomea</strong>, el encargado de pruebas.</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong>Manuel de Jesus Borbon Ortega</strong>, diseñador de la página.</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong>Ricardo Jesus Gastelum Ornelas</strong>, encargado de verificar las dependencias y
                            las
                            librerías externas.</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong>Emmanuel de Jesus Eduardo Palomares Mendoza</strong>, encargado de la conexión y la
                            administración de la base de datos.</p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <p>Todos los integrantes se esforzaron y todos cooperaron para las sodas.</p>
            </div>
        </div>



        <!-- 
    <h1 class="display-4">Note App NodeJS and MongoDB</h1>
    <p class="lead">Aplicación para poder administrar tus tareas.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nemo rerum cum dolorem dignissimos officia dolores sint ipsam provident magnam?</p>
    <a href="https://www.google.com/" class="btn btn-primary btn-lg">Ir a google</a>
    -->
    </div>